body {
  background-color: indianred;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1 {
  color: seashell;
}

.main {
  background-color: seashell;
  flex-basis: 250px;
  min-width: 40vw;
  margin: 30px;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main p {
  margin-top: 0;
  margin-bottom: 30px;
}

.dnes {
  font-size: 24px;
}

.scitaniLidu {
  font-size: 30px;
}

.odkaz a {
  background-color: lightsalmon;
  text-decoration: none;
  color: black;
  padding: 5px 15px;
  border-radius: 2px;
  display: none;
}

.odkaz a:hover,
.odkaz a:focus,
.odkaz a:active {
  background-color: indianred;
}
